torch>=2.2.0
transformers>=4.38.0
safetensors>=0.4.1
huggingface_hub>=0.21.0
accelerate>=0.27.0
datasets>=2.16.0
tokenizers>=0.15.0
peft>=0.7.0
bitsandbytes>=0.41.3
deepspeed>=0.12.0
lightning>=2.2.0
mlflow>=2.9.0
sentencepiece>=0.1.99
wandb>=0.16.0
evaluate>=0.4.0
einops>=0.7.0
scipy>=1.12.0
trl>=0.7.4
flash-attn>=2.5.0 